html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
}
#pageWrapper {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF;
  flex-wrap: wrap;
}

.btn-menu {
  font-size: 20px;
  font-family: 'Amatic SC', cursive;
  display: block;
  margin-top: 70px;
  margin-left: 0;
}
.fa {
  padding-left: 70px;
  padding-right: 0;
  color: black;
  margin-right: 0px;
}
.formWrapper {
  width: 500px;
  margin-top: 100px;
}
form {
  width: 400px;
  margin: 0 auto;
  display: block;
}

label {
  display: block;
  margin: 5px 0 5px 20px;
  font-family: 'Source Code Pro', monospace;
}
input {
  width: 250px;
  margin: 0 0 0 20px;
}

textarea {
  width: 250px;
  height: 200px;
  margin: 0 0 0 20px;
  border: none;
}
fieldset {
  border: none;
  background-color: #f6f6f6;
  padding: 0 0 20px 0;
}
.labelone {
  margin-top: 20px;
}
.btn {
  width: 125px;
}
form h4 {
  margin:  20px 0 0 30px;
  color: #cdcdcd;
  font-weight: bold;
}
/*OTHER SIDE*/

.container2 {
  float: right;
  flex-wrap: wrap;
  width: 400px;
  display: block;
  margin-top: -490px;
  padding-left: 400px;
  margin-right: 0;
}
.cont {
  font-size: 14px;
}
h4, h5, h6 {
font-family: 'Amatic SC', solid, sans-serif;
font-size: 20px;
letter-spacing: 1px;
}
ul, li {
  list-style: none;

}
.icon {
  float: left;
  padding-right: 30px;
}

.soc {
display: run-in;
margin-left: 60px;
padding-left: 20px;
p
}
h6 {
  margin: 40px 0 10px 10px;
}
a {
  text-decoration: none;
  color: black;
}

.cont, .icon {
  margin: 0;
  margin-left: -10px;
  line-height: 2em;

}
.fa {
  align-items: center;
margin-top: 5px;

}
.copyRight {
  margin-top: 150px;
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
}
