html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: auto;
  padding: auto;
}
* {
  margin: 0px;
  padding: 0px;
}
#pageWrapper {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  padding-top: 50px;
}
div.intro {
  flex-wrap: wrap;
  display: block;
  margin-left: 20px;
  margin-bottom: 20px;
}

.container2 {
margin-top: -40px;
width: 700px;
display: flex;
height: auto;
/*border: 5px solid red;*/
margin-left: 400px;
flex-wrap: wrap;
justify-content: space-between;
}
a {
  text-decoration: none;
}
.gallery-box  a {
  position: relative;
  justify-content: space-around;
  align-items: center;
  padding: 2px;
}

.gallery-box {
  transition: all .2s ease-in-out;
}
.gallery-box a {
  display: block;
  float: left;
  box-sizing: border-box;
}
.gallery-box .img:hover {
  opacity: 1;
  transform: scale(1);
  box-shadow: 0 0 7px rgba(0, 0, 0, .5);
}
.photo:hover img {
  opacity: .6;
  transform: scale(.92);
}

/*MENU*/
#nav {
margin-top: 60px;
display: block;
width: 30%;
margin-left: 50px;
height: 100px;
flex-wrap: wrap;
min-width: 350px;
}
.container {
  margin-left: -40px;
  padding: 0;
}
.btn-menu {
  display: none;
  padding: 20px;
  background: #1a95d5;
  color: #fff;
  width: 350px;
}
.btn-menu .icon {
  float: right;
  padding-left: 250px;
}
.container .menu {
  width: 100%;
}
.container li a {
  display: block;
  padding: 15px 50px;
}
 .doc, .portraits, .nat {
   font-size: 20px;
   font-family: 'Amatic SC', cursive;
   margin-left: 30px;
   justify-content: center;
   align-items: center;
 }
li {
  list-style: none;
}

.container li a:hover {
  background: #e6e6e6;

}
.container .icon {
  font-size: 25px;
  line-height: 16px;
}
.container .icon.right {
  padding-left: 20px;
  margin-top: 10px;

}
.doc, .portraits, .nat {
  display: none;
  position: relative;
}
.container ul li a {
  /*border: 1px solid black;*/
  padding-left: 100px;
  text-align: left;
}

li ul {
list-style: none;
}

a {
  color: #262626;
}
.port {
  width: 100%;
  text-align: center;
  padding-right: 0;
  padding-left: 0;
  padding-top: 50px;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;

}
.port:hover {
  opacity: 0.7;
}

.gall {
  width: 100%;
  text-align: center;
  padding-right: 0;
  padding-left: 0;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  letter-spacing: 1px;
  }
.gall:hover {
  opacity: 0.7;
}
.about1 {
  text-align: center;
  padding-right: 0;
  padding-left: 0;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;

}
.about1:hover {
  opacity: 0.7;
}

.cont{
text-align: center;
padding-right: 0;
padding-left: 0;
color: black;
font-family: 'Amatic SC', cursive;
font-size: 30px;
}
.cont:hover {
  opacity: 0.7;
}
