#pageWrapper {
  clear: both;
	padding: 0px;
	margin: 0px;
}

@media screen and (max-width: 450px){
  body {
    padding-top: 80px;
  }
  .container {
    margin: 0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  .btn-menu {
    display: block;
  }
  .btn-menu .icon {
    padding-right: 20px;
  }
}
@media screen and (max-width: 450px){
  .container2 {
  display: block;
  width: 30%;
  float: left;
  padding-top: 20px;
  }
.images {
  width: 25%;
  display: block;
  padding-top: 20px;
  float: left;
}
}
